# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [13]:
a = list(range(1,10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Append to the list the number 20

In [14]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

3. Insert two zeros after the fourth place of the list

In [15]:
a.insert(3,0)
a.insert(3,0)
a

[1, 2, 3, 0, 0, 4, 5, 6, 7, 8, 9, 20]

4. Sort the list in reverse order

In [16]:
a.sort(reverse=True)
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [17]:
a = a[:-2]
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [18]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

7. How many items has the list?

In [19]:
len(a)

10

8. Give the minimum, maximum and the sum of all the items in the list

In [29]:
print('minimum is: %d\nmaximum is: %d\nsum is: %d' % (min(a),max(a),sum(a)))

minimum is: 1
maximum is: 20
sum is: 65

9. What will happen if you multiply the list by 2?

In [32]:
a*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

10. Can you divide the list by 3?

In [33]:
#no

# Tupples
 
1. Create a tupple with three characters and four numbers

In [42]:
b = ('Odelia', 'Meir', 'Sasson', 1,2,3,4)

2. Append two booleans (false, true) to the tupple

In [43]:
b = b + (True,False)
b

('Odelia', 'Meir', 'Sasson', 1, 2, 3, 4, True, False)

3. Retrieve the third to sixth items from the tupple

In [44]:
b[2:6]

('Sasson', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [45]:
b = (list(b[7:9]),list(b[3:7]),list(b[:3]))
b

([True, False], [1, 2, 3, 4], ['Odelia', 'Meir', 'Sasson'])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [91]:
c = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
set(c.split(' '))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [92]:
set(c.replace(".","").split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [93]:
d = {
    1020:{'Name':'Harry Smith','Position':'Sales Manager','Phone':'030-223.65.44'},
    2201:{'Name':'Margaret Holsum','Position':'Sales Representative','Phone':'030-223.64.12'},
    3320:{'Name':'Lasly Howard','Position':'Human Resources','Phone':'030-223.83.33'},
    8111:{'Name':'Larry Johnson','Position':'Project Manager','Phone':'030-224.22.00'},
    2733:{'Name':'Hellen Young','Position':'Customer Service','Phone':'030-223.03.20'}
    }
d

{1020: {'Name': 'Harry Smith',
  'Position': 'Sales Manager',
  'Phone': '030-223.65.44'},
 2201: {'Name': 'Margaret Holsum',
  'Position': 'Sales Representative',
  'Phone': '030-223.64.12'},
 3320: {'Name': 'Lasly Howard',
  'Position': 'Human Resources',
  'Phone': '030-223.83.33'},
 8111: {'Name': 'Larry Johnson',
  'Position': 'Project Manager',
  'Phone': '030-224.22.00'},
 2733: {'Name': 'Hellen Young',
  'Position': 'Customer Service',
  'Phone': '030-223.03.20'}}

1. Get all the keys of the dictionary

In [94]:
d.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [95]:
d.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [96]:
d[3320]

{'Name': 'Lasly Howard',
 'Position': 'Human Resources',
 'Phone': '030-223.83.33'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

2. Write a different solution to the problem in the last question, but using while.. in place of for..