In [1]:
library(DBI)
library(RSQLite)
library(dplyr)
library(ggplot2)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
#con <- dbConnect(odbc::odbc(), DSN="BoxOffice;Trusted_Connection=yes;")

In [3]:
#movies_ff_v <- dbReadTable(con, "movies_ff_v")

In [4]:
#save(movies_ff_v, file="C:/Users/meir/Documents/DataScience/data/BoxOffice_ff_v.RData")

In [2]:
load("C:/Users/meir/Documents/DataScience/data/BoxOffice_ff_v.RData")

In [3]:
head(movies_ff_v)

  movie_id budget   original_language popularity release_date runtime
1 1        14000000 en                 6.575393  2015-02-20    93
2 2        40000000 en                 8.248895  2004-08-06   113
3 3         3300000 en                64.299990  2014-10-10   105
4 4         1200000 hi                 3.174936  2012-03-09   122
5 5               0 ko                 1.148070  2009-02-05   118
6 6         8000000 en                 0.743274  1987-08-06    83
  runtime_cat revenue  sw_lang_en sw_web_presence ... depart_Camera_female
1 Short       12314651 1          0               ... 0
2 Medium      95149435 1          0               ... 0
3 Medium      13092000 1          1               ... 0
4 Large       16000000 0          1               ... 0
5 Medium       3923970 0          0               ... 0
6 Short        3261638 1          0               ... 0
  depart_Crew_female depart_Custom_Mkup_female depart_Directing_female
1 0                  0                         0
2 0                  0                         0
3 1                  0                         0
4 0                  0                         0
5 0                  0                         0
6 0                  0                         0
  depart_Editing_female depart_Lighting_female depart_Production_female
1 0                     0                      0
2 0                     0                      3
3 0                     0                      2
4 0                     0                      0
5 0                     0                      0
6 0                     0                      0
  depart_Sound_female depart_Visual_Effects_female depart_Writing_female
1 0                   0                            0
2 0                   0                            1
3 0                   0                            0
4 0                   0                            0
5 0                   0                            0
6 0                   0                            0

In [12]:
zm1 <- movies_ff_v %>% select("budget"
                              ,"popularity"
                              ,"runtime"
                              ,"revenue"
                              ,"seasonality"
                              ,"actor0_prev_revenue"
                              ,"actor1_prev_revenue"
                              ,"actor2_prev_revenue")
head(zm1)

  budget   popularity runtime revenue
1 14000000  6.575393   93     12314651
2 40000000  8.248895  113     95149435
3  3300000 64.299990  105     13092000
4  1200000  3.174936  122     16000000
5        0  1.148070  118      3923970
6  8000000  0.743274   83      3261638

In [11]:
zm2 <- movies_ff_v %>% select("original_language"
                              ,"runtime_cat")
head(zm2)

  original_language runtime_cat
1 en                Short
2 en                Medium
3 en                Medium
4 hi                Large
5 ko                Medium
6 en                Short

In [18]:
zm3 <- movies_ff_v %>% select("sw_lang_en"
                              ,"sw_web_presence"
                              ,"sw_has_poster"
                              ,"sw_tagline"
                                  ,"high_release_month"
                                    ,"lang_US"
                                    ,"lang_FR"
                                    ,"lang_RU"
                                    ,"lang_ES"
                                    ,"lang_JA"
                                      ,"sw_female_actor0"
                                      ,"sw_female_actor1"
                                      ,"sw_female_actor2"
                                      ,"sw_male_actor0"
                                      ,"sw_male_actor1"
                                      ,"sw_male_actor2"
                                        ,"genre_adventure"
                                        ,"genre_fantasy"
                                        ,"genre_animation"
                                        ,"genre_drama"
                                        ,"genre_horror"
                                        ,"genre_action"
                                        ,"genre_comedy"
                                        ,"genre_history"
                                        ,"genre_western"
                                        ,"genre_thriller"
                                        ,"genre_crime"
                                        ,"genre_documentary"
                                        ,"genre_science_fiction"
                                        ,"genre_mystery"
                                        ,"genre_music"
                                        ,"genre_romance"
                                        ,"genre_family"
                                        ,"genre_war"
                                        ,"genre_foreign")
head(zm3)

  sw_lang_en sw_web_presence sw_has_poster sw_tagline high_release_month
1 1          0               1             1          0
2 1          0               1             1          1
3 1          1               1             1          1
4 0          1               1             0          0
5 0          0               1             0          0
6 1          0               1             0          1
  lang_US lang_FR lang_RU lang_ES lang_JA ... genre_thriller genre_crime
1 1       0       0       0       0       ... 0              0
2 1       0       0       0       0       ... 0              0
3 1       0       0       0       0       ... 0              0
4 1       0       0       0       0       ... 1              0
5 0       0       0       0       0       ... 1              0
6 1       0       0       0       0       ... 0              0
  genre_documentary genre_science_fiction genre_mystery genre_music
1 0                 0                     0             0
2 0                 0                     0             0
3 0                 0                     0             0
4 0                 0                     0             0
5 0                 0                     0             0
6 0                 0                     0             0
  genre_romance genre_family genre_war genre_foreign
1 0             0            0         0
2 1             1            0         0
3 0             0            0         0
4 0             0            0         0
5 0             0            0         0
6 0             1            0         0

In [14]:
zm4 <- movies_ff_v %>% select("release_day"
                              ,"release_month"
                              ,"release_year")
head(zm4)

  release_day release_month release_year
1 20           2            2015
2  6           8            2004
3 10          10            2014
4  9           3            2012
5  5           2            2009
6  6           8            1987

In [16]:
zm5 <- movies_ff_v %>% select("release_day")
head(zm5)

  release_day
1 20
2  6
3 10
4  9
5  5
6  6

In [20]:
zm6 <- movies_ff_v %>% select("keyword_cnt"
                              ,"keyword_cnt"
                              ,"sw_collection"
                              ,"producers_cnt"
                              ,"countries_cnt"
                                  ,"actor0_movies_cnt"
                                  ,"actor0_movies_5y_cnt"
                                  ,"actor1_movies_cnt"
                                  ,"actor1_movies_5y_cnt"
                                  ,"actor2_movies_cnt"
                                  ,"actor2_movies_5y_cnt"
                                  ,"director_movies_cnt"
                                  ,"director_movies_5y_cnt"
                                    ,"depart_Art"
                                    ,"depart_Camera"
                                    ,"depart_Crew"
                                    ,"depart_Custom_Mkup"
                                    ,"depart_Directing"
                                    ,"depart_Editing"
                                    ,"depart_Lighting"
                                    ,"depart_Production"
                                    ,"depart_Sound"
                                    ,"depart_Visual_Effects"
                                    ,"depart_Writing"
                                    ,"depart_Art_female"
                                    ,"depart_Camera_female"
                                    ,"depart_Crew_female"
                                    ,"depart_Custom_Mkup_female"
                                    ,"depart_Directing_female"
                                    ,"depart_Editing_female"
                                    ,"depart_Lighting_female"
                                    ,"depart_Production_female"
                                    ,"depart_Sound_female"
                                    ,"depart_Visual_Effects_female"
                                    ,"depart_Writing_female")
head(zm6)

  keyword_cnt sw_collection producers_cnt countries_cnt actor0_movies_cnt
1  4          0              3            1             18
2  4          0              1            1              3
3 12          0              3            1              7
4  7          0             NA            1              2
5  0          0             NA            1              0
6  0          0             NA            0              1
  actor0_movies_5y_cnt actor1_movies_cnt actor1_movies_5y_cnt actor2_movies_cnt
1 11                   13                 4                    8
2  3                   10                 2                   13
3  7                   34                11                    0
4  1                    2                 2                    0
5  0                    1                 0                    0
6  1                    0                 0                    0
  actor2_movies_5y_cnt ... depart_Camera_female depart_Crew_female
1 6                    ... 0                    0
2 4                    ... 0                    0
3 0                    ... 0                    1
4 0                    ... 0                    0
5 0                    ... 0                    0
6 0                    ... 0                    0
  depart_Custom_Mkup_female depart_Directing_female depart_Editing_female
1 0                         0                       0
2 0                         0                       0
3 0                         0                       0
4 0                         0                       0
5 0                         0                       0
6 0                         0                       0
  depart_Lighting_female depart_Production_female depart_Sound_female
1 0                      0                        0
2 0                      3                        0
3 0                      2                        0
4 0                      0                        0
5 0                      0                        0
6 0                      0                        0
  depart_Visual_Effects_female depart_Writing_female
1 0                            0
2 0                            1
3 0                            0
4 0                            0
5 0                            0
6 0                            0

In [21]:
summary(movies_ff_v)

    movie_id        budget          original_language    popularity
 Min.   :   1   Min.   :        0   Length:7375        Min.   :  0.000
 1st Qu.:1848   1st Qu.:        0   Class :character   1st Qu.:  3.970
 Median :3696   Median :  8000000   Mode  :character   Median :  7.456
 Mean   :3698   Mean   : 22666657                      Mean   :  8.540
 3rd Qu.:5550   3rd Qu.: 29000000                      3rd Qu.: 10.932
 Max.   :7398   Max.   :380000000                      Max.   :547.488

  release_date           runtime      runtime_cat           revenue
 Min.   :1918-08-01   Min.   :  0.0   Length:7375        Min.   :1.000e+00
 1st Qu.:1992-11-13   1st Qu.: 94.0   Class :character   1st Qu.:2.405e+06
 Median :2004-07-29   Median :104.0   Mode  :character   Median :1.693e+07
 Mean   :2000-03-15   Mean   :107.7                      Mean   :6.688e+07
 3rd Qu.:2011-06-27   3rd Qu.:118.0                      3rd Qu.:6.906e+07
 Max.   :2017-08-11   Max.   :338.0                      Max.   :1.520e+09
 NA's   :1            NA's   :5                          NA's   :4382
   sw_lang_en     sw_web_presence  sw_has_poster      sw_tagline
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:1.0000   1st Qu.:0.0000   1st Qu.:1.0000   1st Qu.:1.0000
 Median :1.0000   Median :0.0000   Median :1.0000   Median :1.0000
 Mean   :0.8591   Mean   :0.3204   Mean   :0.9997   Mean   :0.8045
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

  keyword_cnt       release_year  release_month    high_release_month
 Min.   :  0.000   Min.   :1918   Min.   : 1.000   Min.   :0.0000
 1st Qu.:  3.000   1st Qu.:1992   1st Qu.: 4.000   1st Qu.:0.0000
 Median :  6.000   Median :2004   Median : 7.000   Median :0.0000
 Mean   :  7.265   Mean   :2000   Mean   : 6.844   Mean   :0.3997
 3rd Qu.: 10.000   3rd Qu.:2011   3rd Qu.:10.000   3rd Qu.:1.0000
 Max.   :149.000   Max.   :2017   Max.   :12.000   Max.   :1.0000
                   NA's   :1      NA's   :1
  release_day     seasonality        sw_collection     producers_cnt
 Min.   : 1.00   Min.   :-50746591   Min.   :0.00000   Min.   : 1.000
 1st Qu.: 8.00   1st Qu.:-33273015   1st Qu.:0.00000   1st Qu.: 1.000
 Median :15.00   Median :-15309317   Median :0.00000   Median : 2.000
 Mean   :15.25   Mean   : -1337484   Mean   :0.02942   Mean   : 2.908
 3rd Qu.:22.00   3rd Qu.: 32322910   3rd Qu.:0.00000   3rd Qu.: 4.000
 Max.   :31.00   Max.   : 74205073   Max.   :2.00000   Max.   :26.000
 NA's   :1       NA's   :1                             NA's   :395
 countries_cnt       lang_US          lang_FR           lang_RU
 Min.   : 0.000   Min.   :0.0000   Min.   :0.00000   Min.   :0.00000
 1st Qu.: 1.000   1st Qu.:1.0000   1st Qu.:0.00000   1st Qu.:0.00000
 Median : 1.000   Median :1.0000   Median :0.00000   Median :0.00000
 Mean   : 1.335   Mean   :0.8735   Mean   :0.09641   Mean   :0.04854
 3rd Qu.: 1.000   3rd Qu.:1.0000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :12.000   Max.   :1.0000   Max.   :1.00000   Max.   :1.00000

    lang_ES          lang_JA         keywords_cnt     actor0_movies_cnt
 Min.   :0.0000   Min.   :0.00000   Min.   :  0.000   Min.   : 0.00
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:  3.000   1st Qu.: 0.00
 Median :0.0000   Median :0.00000   Median :  6.000   Median : 4.00
 Mean   :0.0758   Mean   :0.02766   Mean   :  7.265   Mean   : 7.19
 3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.: 10.000   3rd Qu.:11.00
 Max.   :1.0000   Max.   :1.00000   Max.   :149.000   Max.   :65.00

 actor0_movies_5y_cnt actor1_movies_cnt actor1_movies_5y_cnt actor2_movies_cnt
 Min.   : 0.000       Min.   : 0.000    Min.   : 0.000       Min.   : 0.000
 1st Qu.: 0.000       1st Qu.: 0.000    1st Qu.: 0.000       1st Qu.: 0.000
 Median : 2.000       Median : 2.000    Median : 1.000       Median : 2.000
 Mean   : 2.769       Mean   : 5.405    Mean   : 2.261       Mean   : 4.773
 3rd Qu.: 5.000       3rd Qu.: 8.000    3rd Qu.: 4.000       3rd Qu.: 7.000
 Max.   :16.000       Max.   :67.000    Max.   :17.000       Max.   :68.000

 actor2_movies_5y_cnt sw_female_actor0 sw_female_actor1 sw_female_actor2
 Min.   : 0.000       Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.: 0.000       1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median : 1.000       Median :0.0000   Median :0.0000   Median :0.0000
 Mean   : 1.915       Mean   :0.2333   Mean   :0.3792   Mean   :0.3379
 3rd Qu.: 3.000       3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :15.000       Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
                      NA's   :934      NA's   :782      NA's   :788
 sw_male_actor0   sw_male_actor1   sw_male_actor2   actor0_prev_revenue
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :1.000e+00
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:4.426e+07
 Median :1.0000   Median :1.0000   Median :1.0000   Median :1.515e+08
 Mean   :0.6941   Mean   :0.5171   Mean   :0.5436   Mean   :2.233e+08
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:3.113e+08
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.520e+09
 NA's   :934      NA's   :782      NA's   :788      NA's   :2752
 actor1_prev_revenue actor2_prev_revenue director_movies_cnt
 Min.   :1.000e+00   Min.   :1.000e+00   Min.   : 0.000
 1st Qu.:3.511e+07   1st Qu.:3.086e+07   1st Qu.: 0.000
 Median :1.256e+08   Median :1.109e+08   Median : 1.000
 Mean   :2.052e+08   Mean   :1.957e+08   Mean   : 1.952
 3rd Qu.:2.684e+08   3rd Qu.:2.506e+08   3rd Qu.: 3.000
 Max.   :1.520e+09   Max.   :1.520e+09   Max.   :29.000
 NA's   :3201        NA's   :3423
 director_movies_5y_cnt genre_adventure  genre_fantasy     genre_animation
 Min.   :0.0000         Min.   :0.0000   Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.0000         1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.0000
 Median :0.0000         Median :0.0000   Median :0.00000   Median :0.0000
 Mean   :0.6496         Mean   :0.1513   Mean   :0.08515   Mean   :0.0518
 3rd Qu.:1.0000         3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :6.0000         Max.   :1.0000   Max.   :1.00000   Max.   :1.0000

  genre_drama      genre_horror      genre_action     genre_comedy
 Min.   :0.0000   Min.   :0.00000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.00000   Median :0.0000   Median :0.0000
 Mean   :0.4984   Mean   :0.09966   Mean   :0.2353   Mean   :0.3532
 3rd Qu.:1.0000   3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.0000   Max.   :1.0000

 genre_history  genre_western     genre_thriller    genre_crime
 Min.   :0.00   Min.   :0.00000   Min.   :0.0000   Min.   :0.000
 1st Qu.:0.00   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.000
 Median :0.00   Median :0.00000   Median :0.0000   Median :0.000
 Mean   :0.04   Mean   :0.01586   Mean   :0.2534   Mean   :0.147
 3rd Qu.:0.00   3rd Qu.:0.00000   3rd Qu.:1.0000   3rd Qu.:0.000
 Max.   :1.00   Max.   :1.00000   Max.   :1.0000   Max.   :1.000

 genre_documentary genre_science_fiction genre_mystery      genre_music
 Min.   :0.00000   Min.   :0.0000        Min.   :0.00000   Min.   :0.0000
 1st Qu.:0.00000   1st Qu.:0.0000        1st Qu.:0.00000   1st Qu.:0.0000
 Median :0.00000   Median :0.0000        Median :0.00000   Median :0.0000
 Mean   :0.02997   Mean   :0.1009        Mean   :0.07458   Mean   :0.0362
 3rd Qu.:0.00000   3rd Qu.:0.0000        3rd Qu.:0.00000   3rd Qu.:0.0000
 Max.   :1.00000   Max.   :1.0000        Max.   :1.00000   Max.   :1.0000

 genre_romance     genre_family       genre_war       genre_foreign
 Min.   :0.0000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.0000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.0000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.1946   Mean   :0.09153   Mean   :0.03295   Mean   :0.01139
 3rd Qu.:0.0000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.0000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000

   depart_Art     depart_Camera     depart_Crew      depart_Custom_Mkup
 Min.   : 0.000   Min.   : 0.000   Min.   :  0.000   Min.   : 0.000
 1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.:  0.000   1st Qu.: 0.000
 Median : 1.000   Median : 1.000   Median :  0.000   Median : 1.000
 Mean   : 2.707   Mean   : 1.802   Mean   :  2.388   Mean   : 2.074
 3rd Qu.: 3.000   3rd Qu.: 2.000   3rd Qu.:  2.000   3rd Qu.: 2.000
 Max.   :36.000   Max.   :24.000   Max.   :119.000   Max.   :33.000
 NA's   :34       NA's   :34       NA's   :34        NA's   :34
 depart_Directing depart_Editing   depart_Lighting   depart_Production
 Min.   : 0.000   Min.   : 0.000   Min.   : 0.0000   Min.   : 0.000
 1st Qu.: 1.000   1st Qu.: 0.000   1st Qu.: 0.0000   1st Qu.: 1.000
 Median : 1.000   Median : 1.000   Median : 0.0000   Median : 4.000
 Mean   : 1.665   Mean   : 1.516   Mean   : 0.4262   Mean   : 5.301
 3rd Qu.: 2.000   3rd Qu.: 2.000   3rd Qu.: 0.0000   3rd Qu.: 8.000
 Max.   :30.000   Max.   :21.000   Max.   :18.0000   Max.   :38.000
 NA's   :34       NA's   :34       NA's   :34        NA's   :34
  depart_Sound    depart_Visual_Effects depart_Writing   depart_Art_female
 Min.   : 0.000   Min.   : 0.00         Min.   : 0.000   Min.   :0.0000
 1st Qu.: 1.000   1st Qu.: 0.00         1st Qu.: 1.000   1st Qu.:0.0000
 Median : 1.000   Median : 0.00         Median : 2.000   Median :0.0000
 Mean   : 3.064   Mean   : 1.29         Mean   : 2.222   Mean   :0.2351
 3rd Qu.: 3.000   3rd Qu.: 0.00         3rd Qu.: 3.000   3rd Qu.:0.0000
 Max.   :40.000   Max.   :89.00         Max.   :23.000   Max.   :7.0000
 NA's   :34       NA's   :34            NA's   :34       NA's   :34
 depart_Camera_female depart_Crew_female depart_Custom_Mkup_female
 Min.   :0.00000      Min.   : 0.00000   Min.   :0.0000
 1st Qu.:0.00000      1st Qu.: 0.00000   1st Qu.:0.0000
 Median :0.00000      Median : 0.00000   Median :0.0000
 Mean   :0.02043      Mean   : 0.06443   Mean   :0.3535
 3rd Qu.:0.00000      3rd Qu.: 0.00000   3rd Qu.:1.0000
 Max.   :3.00000      Max.   :10.00000   Max.   :6.0000
 NA's   :34           NA's   :34         NA's   :34
 depart_Directing_female depart_Editing_female depart_Lighting_female
 Min.   :0.0000          Min.   :0.0000        Min.   :0.00000
 1st Qu.:0.0000          1st Qu.:0.0000        1st Qu.:0.00000
 Median :0.0000          Median :0.0000        Median :0.00000
 Mean   :0.1535          Mean   :0.1216        Mean   :0.00068
 3rd Qu.:0.0000          3rd Qu.:0.0000        3rd Qu.:0.00000
 Max.   :4.0000          Max.   :5.0000        Max.   :1.00000
 NA's   :34              NA's   :34            NA's   :34
 depart_Production_female depart_Sound_female depart_Visual_Effects_female
 Min.   : 0.0000          Min.   :0.00000     Min.   :0.00000
 1st Qu.: 0.0000          1st Qu.:0.00000     1st Qu.:0.00000
 Median : 0.0000          Median :0.00000     Median :0.00000
 Mean   : 0.9396          Mean   :0.07914     Mean   :0.00845
 3rd Qu.: 2.0000          3rd Qu.:0.00000     3rd Qu.:0.00000
 Max.   :12.0000          Max.   :6.00000     Max.   :2.00000
 NA's   :34               NA's   :34          NA's   :34
 depart_Writing_female
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.1242
 3rd Qu.:0.0000
 Max.   :5.0000
 NA's   :34